.small-video-preview img {
  width: 168px;
  height: 94px;
  border-radius: 8px;
}

.small-video-content h1 {
  font-size: 14px;
  max-width: 202px;
  margin-bottom: 4px;
}
.small-video-content,
.small-video-content h2 {
  font-size: 12px;
  padding-top: 12px;
  font-weight: 500;
}

.small-video-preview {
  display: flex;
  margin-top: 40px;
}
.small-video-content {
  margin-top: 12px;
  height: 94px;
  margin-top: -10px;
  padding-left: 8px;
}

.small-video-content h1,
.small-video-content h2 {
  margin: 0;
}

.posted-details {
  margin-top: 10px;
}
