.large-video-preview {
  max-width: 360px;
  margin: 0 8px 40px;
}

.large-video-preview img {
  max-width: 100%;
}

.large-video-content {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.large-video-content h1 {
  font-size: 16px;
  line-height: 20px;
}

.large-video-content h1,
.large-video-content h2 {
  margin: 0;
}

.large-video-content,
.large-video-content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.author-image {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  overflow: hidden;
  margin-right: 12px;
}

.posted-details {
  margin-top: 10px;
}
