.app {
  font-family: 'Roboto', sans-serif;
}

.shorts-previews {
  display: flex;
  flex-wrap: wrap;
  max-width: 1880px;
  margin: 0 16px;
}

.movie-previews {
  display: flex;
  flex-wrap: wrap;
  max-width: 1880px;
  margin: 0 16px;
  margin-top: 40px;
}

.video-previews {
  display: flex;
  flex-wrap: wrap;
  max-width: 1880px;
  margin: 0 16px;
}
